@use 'styles/Variables';

.content {
  max-width: Variables.$content-max-width;
  margin: 0 auto;
  line-height: 1.6875;

  :global(*) {
    max-width: 100%;
  }

  :global(figure) {
    margin-left: 0;
    margin-right: 0;
  }

  :global(h1),
  :global(h2),
  :global(h3),
  :global(h4),
  :global(h5),
  :global(h6) {
    margin: 4.8rem 0;
  }

  :global(strong) {
    font-weight: 700;
  }

  :global(a) {
    color: var(--color-secondary);
    text-decoration: underline;

    &:hover,
    &:focus {
      color: var(--color-secondary);
      text-decoration: none;
    }
  }

  :global(li) {
    font-size: 1.6rem;
  }

  :global(img) {
    display: block;
    height: auto;
    max-width: 100%;
  }

  :global(.alignleft) {
    display: inline;
    float: left;
    margin-right: 1.5em;
  }

  :global(.alignright) {
    display: inline;
    float: right;
    margin-left: 1.5em;
  }

  :global(.aligncenter) {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  :global(code),
  :global(pre) {
    color: var(--color-white);
    background: var(--color-black);
  }

  :global(code) {
    padding: 0.25rem 0.5rem;
  }

  :global(pre) {
    max-width: 100%;
    overflow: auto;
    padding: 1rem;
  }

  :global(blockquote) {
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
    font-style: italic;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 4rem 1rem 4rem;
    text-align: center;

    &::before {
      content: '"';
      display: block;
      font-size: 6rem;
      line-height: 0;
      margin: 2rem 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  :global(table) {
    border-collapse: collapse;
    width: 100%;
  }

  :global(thead th) {
    border-bottom: 1px solid var(--color-tertiary);
    padding-bottom: 0.5em;
  }

  :global(th) {
    padding: 0.4rem 0;
    text-align: left;
  }

  :global(tr) {
    border-bottom: 1px solid var(--color-tertiary);
  }

  :global(td) {
    padding: 0.4em;
  }
}
