@import 'styles/Variables';

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  background-color: transparent;
  text-transform: uppercase;
  padding: 1.75rem 3.5rem;
  font-size: 1.25rem;
  appearance: none;
  font-weight: $font-weight-bold;

  &.button-primary {
    color: var(--color-black);
    border-color: var(--color-black);
    background-color: var(--color-white);
  }

  &.button-secondary {
    color: var(--color-white);
    border-color: var(--color-primary);
    background-color: var(--color-primary);
  }

  &:hover {
    border-color: var(--color-black);
    background-color: var(--color-black);
    color: var(--color-white);
  }

  &:focus {
    outline: 1px dotted;
    outline: 1px auto -webkit-focus-ring-color;
  }
}
