.home {
  > section {
    margin-bottom: 8rem;
  }
}

.heading {
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

.description {
  max-width: 50%;
  margin: 0 auto 2rem;
}

.actions {
  a[role=button] {
    margin: 0.5rem;
  }
}

.posts .heading {
  margin-bottom: 4rem;
}
