$themes: (
        blue: (
                color-black: #000,
                color-primary: #000066,
                color-secondary: #CCCCCC,
                color-tertiary: #EEEEEE,
                color-white: #fff,
        ),
        red: (
                color-black: #000,
                color-primary: #660000,
                color-secondary: #CCCCCC,
                color-tertiary: #EEEEEE,
                color-white: #fff,
        ),
        green: (
                color-black: #000,
                color-primary: #006600,
                color-secondary: #CCCCCC,
                color-tertiary: #EEEEEE,
                color-white: #fff,
        ),
);