@import "Variables";
@import "Mixins";

// Typography Module
// ––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
  font-weight: $font-weight-bold;
  letter-spacing: -.1rem;
  margin-bottom: 2.0rem;
  margin-top: 0;
}

h1 {
  font-size: 4.8rem;
  line-height: 150%;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.8rem;
  line-height: 1.3;

}

h4 {
  font-size: 2.4rem;
  line-height: 125%;
}

h5 {
  font-size: 1.8rem;
  letter-spacing: -.05rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4;
}

p {
  margin-bottom: 1.2em;
  margin-top: 0;
}

// Links
a {
  @include themify {
    color: themed( 'color-primary' );
  }
  text-decoration: none;
}

a:focus,
a:hover {
  @include themify {
    color: lighten(themed( 'color-primary' ), 15);
  }
}
