$font-family: Inter, Verdana, Arial, Helvetica, sans-serif;
$font-weight-normal: 300;
$font-weight-bold: 600;

$breakpoint-small: 76.8rem;
$breakpoint-medium: 102.4rem;

$grid-max-width: 62rem;
$container-max-width: 102.4rem;
