$font-family: Inter, Verdana, Arial, Helvetica, sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-extra-bold: 700;

$breakpoint-extra-small: 640px;
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;

$container-max-width: 1200px;

$content-max-width: 620px;

$box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
