$font-family: Inter, Verdana, Arial, Helvetica, sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-extra-bold: 700;

$breakpoint-extra-small: 640px;
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;

$grid-max-width: 62rem;
$container-max-width: 102.4rem;
$container-max-width-sm: 64rem;

$box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
