@import 'styles/Variables';

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;

  @media (min-width: $breakpoint-small) {
    flex-direction: row;
  }
}

.image {
  width: 100%;

  @media (min-width: $breakpoint-small) {
    width: auto;
  }

  @media (min-width: $breakpoint-small) {
    min-width: 30rem;
  }

  @media (min-width: $breakpoint-medium) {
    min-width: 40rem;
  }
}

.content {
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
}
