$loading-search-result-bg: #ddd;

@keyframes SearchResultLoadingAnimation {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

.loader-bg {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: SearchResultLoadingAnimation;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(
    to right,
    #eee 8%,
    $loading-search-result-bg 18%,
    #eee 33%
  );
  background-size: 1000px 104px;
  height: 338px;
  position: relative;
  overflow: hidden;
}

.loading-result {
  margin-bottom: 6rem;
}

.loading-result-title {
  @extend .loader-bg;

  width: 70%;
  background-color: $loading-search-result-bg;
  height: 4rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.loading-result-meta {
  @extend .loader-bg;
  width: 20%;
  background-color: $loading-search-result-bg;
  height: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.loading-result-excerpt {
  @extend .loader-bg;
  width: 100%;
  background-color: $loading-search-result-bg;
  height: 14rem;
  border-radius: 0.5rem;
}
